<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title th:text="#{content.title}">DSRC COMMUNTICATION SERVER</title>
    <link th:href="@{/css/main.css}" rel="stylesheet" />
</head>
<body>


    <div class="container">
        <div class ="title" th:text="#{content.title}" >DSRC Communication Server</div>

        <div class ="time" id="serverTime" th:text="${#calendars.format(#calendars.createNow(),'yyyy-MM-dd HH:mm:ss')}"></div>
        <hr>
        <div class="nav">
            <nav>
                <div id="underline" style="left: 749px; width: 77px;"></div>
                <a id="nav_system" onclick="clickNav('system')">System</a>
                <a id="nav_controller" onclick="clickNav('controller')">Controller</a>
                <a id="nav_log" onclick="clickNav('log')">Log</a>
                <form name="loginForm" method="post" th:action="@{/logout}">
                    <a href="javascript:submitForm();">Logout</a>
                </form>

            </nav>
        </div>
        <div class="content">
            <div class="system" id="system">
                <fieldset>
                    <legend>System Information</legend>

                    <table id="systemTable">
                        <tr>
                            <td><strong>System Id</strong></td>
                            <td><input type="text" name="id" th:value="${ServerConfig.processId}" readonly></td>
                        </tr>
                        <tr>
                            <td><strong>Ip Address</strong></td>
                            <td><input type="text" name="ip" th:value="${ServerConfig.centerAddress}" readonly></td>
                        </tr>
                        <tr>
                            <td><strong>Tcp Port</strong></td>
                            <td><input type="text" name="Tcp" th:value="${ServerConfig.bindPort}" readonly></td>
                        </tr>
                        <tr>
                            <td><strong>Udp Port</strong></td>
                            <td><input type="text" name="Udp" th:value="${ServerConfig.centerPort}" readonly></td>
                        </tr>
                        <tr>
                            <td><strong>Boot Time</strong></td>
                            <td><input type="text" name="time" th:value="${bootTime}" readonly></td>
                        </tr>
                    </table>
                </fieldset>
            </div>
            <div class="controller" id="controller">
                <fieldset>
                    <legend>Controller Information</legend>
                    <div style="width: 98%;height: 730px;overflow: auto;margin:10px auto;">
                        <table id="controllerTable">
                            <thead>
                            <tr>
                                <th>관리번호</th>
                                <th>제어기 ID</th>
                                <th>제어기 명칭</th>
                                <th>IP Address</th>
                                <th>상태</th>
                                <th>마지막 연결 시간</th>
                                <th>마지막 해제 시간</th>
                                <th>접속횟수</th>
                                <th>명령</th>
                            </tr>
                            </thead>
                            <tbody id="controllerTbody"></tbody>
                        </table>
                    </div>
                </fieldset>
            </div>
            <div class="log" id="log">
                <fieldset id="FilesForm">
                    <legend>Log Files</legend>
                    <table id="logFiles">
                        <tbody id="logTbody">

                        </tbody>
                    </table>

                </fieldset>
                <fieldset id="FileForm">
                    <legend name="fileName">log</legend>
                    <h3><a href="javascript:logList()">로그 목록</a></h3>
                    <table>
                        <tbody id="fileTbody">

                        </tbody>
                    </table>
                </fieldset>
            </div>
            </div>

        </div>


    </div>
    <script src="//code.jquery.com/jquery-2.2.4.min.js"></script>
    <script th:src="@{/js/ajax.js}"></script>
    <script type="text/javascript" th:src="@{/js/nav.js}"></script>
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var fileListTbody ="<tr><td>logs</td></tr>";
        var _fileList = /*[[${fileList}]]*/ 'filelist';
        var session = /*[[${session}]]*/ 'session';
        init();

        /*]]*/
    </script>
</body>
</html>
